@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #29313b;
  --primary-blue: #0e6ff9;
  --primary-text: #181825;
  --secondary-text: #464651;
  --disabled-text: #8b8b92;
  --success-green: #c3cd3a;
  --error-red: #e55353;
  --panel-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
